<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Mapa de baches
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div id="mapId" style="width: 100%; height: 100%">
    </div>
</ion-content>