// .btn{
//     display: inline-block;
//     text-decoration: none;
//     color: #668ad8;
//     width: 120px;
//     height: 120px;
//     line-height: 120px;
//     border-radius: 50%;
//     border: solid 2px #668ad8;
//     text-align: center;
//     vertical-align: middle;
//     overflow: hidden;
//     font-weight: bold;
//     transition: .4s;
//   }
  
//   .btn:hover {
//       background: #b3e1ff;
//   }


.btn{/*dent around button*/
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: rgba(3, 169, 244, 0.54);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    background: #f7f7f7;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.08);
}
.btn .fa {/*Button itself*/
    position: absolute;
    content: '';
    width: 80px;
    height: 80px;
    line-height: 80px;
    vertical-align: middle; 
    left: 10px;
    top: 9px;
    border-radius: 50%;
    font-size: 40px;
    background-image: -webkit-linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
    background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
    border-bottom: solid 2px #b5b5b5;
  }
  
.btn .fa:active{
    background-image: -webkit-linear-gradient(#efefef 0%, #d6d6d6 100%);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
    border-bottom: solid 2px #d8d8d8;
}
  
  .center{
      text-align: center;
      margin-top: 13em;
  }

  .vertical-align-content > *
{
     display: flex!important;
     align-content: center!important;
     align-items: center!important;
}

.pothole-label{
    text-align: center; 
    margin-top: 0.6em;
    color: rgba(3, 169, 244, 0.54);
    font-size: 2em;
}

:focus {
    outline: none;
}
